.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	padding: 90px 0 144px;
}

.titleDescription {
	max-width: 550px;
}

.image {
	width: var(--image-width);
	display: block;
	height: auto;
	margin-top: 26px;
}
